#jinja2: lstrip_blocks: True
##
# {{ ansible_managed }}
#
[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
ExecStart=/usr/bin/supervisord -n -c /etc/supervisor/supervisord.conf
ExecStop=/usr/bin/supervisorctl $OPTIONS shutdown
ExecReload=/usr/bin/supervisorctl -c /etc/supervisor/supervisord.conf $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=50s

{% if sansible_supervisor_start_pause %}
ExecStartPost=/bin/sleep {{ sansible_supervisor_start_pause }}
{% endif %}

[Install]
WantedBy=multi-user.target